.navbar-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: aqua;

  &.username {
    @media screen and (max-width: 414px) {
      margin-right: -10px;
    }
    @media screen and (max-width: 350px) {
      margin-right: -15px;
    }
  }

  &.logout {
    color: black;
    &:hover {
      color: aqua;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}

.side-nav-tab {
  &:hover {
    color: white;
    background-color: aqua;
    transition: all 0.4s ease-in-out;
  }
}

.grid-btn {
  color: aqua;
  cursor: pointer;

  &:hover {
    background-color: aqua;
    color: white;
    transition: all 0.4s ease-in-out;
  }
}

.nav-toggle {
  color: aqua;
  font-weight: 700;
  font-size: 1.2rem;
  display: none;
  cursor: pointer;

  @media screen and (max-width: 414px) {
    display: inherit;
  }
}

.side-nav-tab-toggle {
  width: 100%;
}

.rs-drawer-body {
  margin: 0;
}

.card-footer-btn {
  &.edit {
    border: 1px solid aqua;
    color: aqua;

    &:hover {
      background-color: aqua;
      color: white;
    }
  }

  &.delete {
    border: 1px solid red;
    color: red;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}
